{% extends "network/pagination.html" %}

{% block body %}
    <h1>All Posts</h1>

    {% if request.user.is_authenticated %}
        <div class="box">
            <h2>New Post</h2>
            <form action="{% url 'create_post' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <textarea name="content" class="form-control" rows="3"></textarea>
                </div>
                <input type="submit" value="Post" class="btn btn-primary">
            </form>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}
