{% extends "network/layout.html" %}

{% block body %}
{% if page %}
    <div>
        {% for post in page %}
            <div class="box post">
                <div style="display: none;">
                    <form action="{% url 'edit_post' post.id %}" method="" class="edit-post-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <textarea required name="content" class="form-control" rows="3"></textarea>
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary btn-sm">
                        <button type="button" class="btn btn-danger btn-sm cancel-edit-post">Cancel</button>
                    </form>
                </div>
                <div>
                    <p>{{ post.content }}</p>
                    {% if request.user == post.user %}
                        <button type="button" class="btn btn-primary btn-sm edit-post">Edit</button>
                    {% endif %}

                    <div class="likes-container">
                        <form action="{% url 'like_post' post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="faheart">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                        </form>
                        <span>{{ post.fans.count }}</span>
                    </div>

                    <div>
                        <a href="{% url 'profile' post.user.username %}">{{ post.user }}</a>
                        |
                        <span>{{ post.updated_at }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        <hr>
        <nav aria-label="Page navigation">
            <ul class="pagination d-flex justify-content-between">
                {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
{% endblock %}
