{% extends "network/layout.html" %}

{% block body %}
    <h1>Profile: {{ user.username }}</h1>
    <div>
        <small>Followers: {{ user.followers.count }}</small><br>
        <small>Following: {{ user.friends.count }}</small>
    </div>
    <div>
        {% if can_follow %}
            <form action="{% url 'follow' user.username %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Follow" class="btn btn-outline-primary">
            </form>
        {% endif %}
    </div>
    <hr>
    <div>
        <h2>Posts</h2>
        {% for post in posts %}
            <div class="box">
                <div>{{ post.content }}</div>
                {% if request.user == post.user %}
                    <a href="#">Edit</a>
                {% endif %}
                <div>
                    <a href="{% url 'profile' post.user.username %}">{{ post.user }}</a>
                    |
                    <span>{{ post.updated_at }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
