{% extends "network/pagination.html" %}

{% block body %}
    <h1>Profile: {{ user.username }}</h1>
    <div>
        <small>Followers: {{ user.followers.count }}</small><br>
        <small>Following: {{ user.friends.count }}</small>
    </div>
    <div>
        {% if can_follow %}
            <form action="{% url 'follow' user.username %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Follow" class="btn btn-outline-primary">
            </form>
        {% elif can_unfollow %}
            <form action="{% url 'unfollow' user.username %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Unfollow" class="btn btn-outline-danger">
            </form>
        {% endif %}
    </div>
    <hr>
    <div>
        <h2>Posts</h2>

        {{ block.super }}
    </div>
{% endblock %}
